<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shorten a Link</title>
</head>
<body>
  <h1>Shorten a Link</h1>
  <script async="async" data-cfasync="false" src="//pl26893293.profitableratecpm.com/733b2718abd92729099fafb672f2a3f8/invoke.js"></script>
<div id="container-733b2718abd92729099fafb672f2a3f8"></div>
  <script type="text/javascript">
	atOptions = {
		'key' : 'e44404cbb3f490af1bb12811efed07d3',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/e44404cbb3f490af1bb12811efed07d3/invoke.js"></script>
  <form action="/shorten" method="POST">
    <input type="url" name="url" placeholder="https://example.com" required>
    <button type="submit">Shorten</button>
  </form>
</body>
</html>
